/**
*
* Article nav
*
**/

.article {
  max-width: 100rem;
  min-width: 56rem;
  margin: $baseSpace auto;
}

.article__header {
	margin-bottom: $baseSpace*1.5;
}

.article__head {
	font-size: $fontLarge;
	margin-bottom: $baseSpace/2;
	color: $colorBlack;
}

.article__intro {
	font-size: $fontSmall;
	width: 70%;
	max-width: 65rem;
	font-family: $grantSerif;
}


.graphic__header {
	position: relative;
	width: 100%;
	border-bottom: 1px solid $colorGray;
}

.graphic__head {
	width: 70%;
	font-size: $fontBase;
	font-weight: 500;
	margin-bottom: $baseSpace/4;
	color: $colorBlack;
}

.graphic__head__img__wrap {
	position: absolute;
	right: 0;
	width: 25%;
}

.graphic__head__img {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	width: 75%;
	min-width: 15rem;
	max-width: 25rem;
	padding-right: $baseSpace;
}

.graphic__mod {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: $baseSpace*1.5;
}

.graphic__wrap {
	position: relative;
	&:first-of-type {
		margin-right: $baseSpace;
	}
}

.viz__wrap {
	background: url(/images/court-lines.gif) no-repeat 10px 10px;
	display: inline-block;
	min-height: 31rem;
	margin-bottom: 1rem;
}

.viz__caption--heatmap {
	font-size: $fontSmall;
	font-family: $grantSerifDisplay;
	padding-left: 2rem;
}

.viz__legend--efficiency {
	width: 23rem;
	position: absolute;
  right: 2rem;
  bottom: -9px;
}



.hexagon--efficiency {
	stroke: $colorGrayLight;
	stroke-width: 1px;
}
