/**
*
* Article nav
*
**/

.graphic__mod {
  max-width: 60rem;
  margin: 40px auto;
}

.graphic__head {
	font-size: $fontBase;
	margin-bottom: $baseSpace/2;
	color: $colorBlack;
}

.graphic__intro {
	font-size: $fontSmall;
}

.graphic__wrap {
	background: url(/images/court-lines.gif) no-repeat -5px 50px;
}

.hexagon {
  // fill: steelblue;
  // stroke: $colorGrayLighter;
  stroke-width: .5px;
}

.clip-svg {
  clip-path: url('../#myClip');
}

