/**
*
* Article nav
*
**/

.graphic__mod {
  max-width: 40rem;
  margin: 40px auto;
}

.graphic__head {
  color: red;
}

.graphic__wrap {
	background: url(/images/court-lines.gif) no-repeat -5px 50px;
}

.hexagon {
  fill: steelblue;
  stroke: #fff;
  stroke-width: .5px;
}

